.delete-btn {
  text-decoration: none;
  color: #f7d002;
  margin-top: 10px;
  width: 80px;
  background-color: transparent;
  font-family: "RobotoBold";
  font-size: 16px;
  padding: 0;
  border: none;
  text-align: left;
  margin-left: auto;
  }
  
.delete-btn:hover {
  text-decoration: none;
  color: #222725;
  outline: none;
  cursor: pointer;
}
.divIndirizzi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.cardInfo {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 10px 40px #dedede;
  height: 70px;
  background-color: white;
  
}
#nominativi_indirizzi{
  font-family:"RobotoBold";
  font-size: 22px;
  margin-left: 5%;
  margin-top: 25px;
}

#h1_dati {
    margin-left: 30px;
    margin-bottom: 3%;
}
#aggiungiIndirizzo{
    margin-right: auto;
}

.headerSectionAddress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f9fa;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
}

#no_indirizzo{
  margin: auto;
}
#aggiungi:focus {
	background: gray;
	outline: 0;
  }

#aggiungi {
  background-color: black;
  border: none;
  color: white;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  font-family: 'RobotoBold';
  text-align: center;
  display: block;
  width: 40%;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
}

  
#aggiungi span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
#aggiungi span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#aggiungi:focus, input:focus{
  outline: none;
}
#aggiungi:hover span {
  padding-right: 25px;
}

#aggiungi:hover span:after {
  opacity: 1;
  right: 0;
}
#chiudi {
  background-color: #f7d002;
  border: none;
  color: black;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  font-family: 'RobotoBold';
  text-align: center;
  display: block;
  
  width: 40%;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
}
  
#chiudi span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#chiudi:focus, input:focus{
  outline: none;
}

#chiudi span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#chiudi:hover span {
  padding-right: 25px;
  outline: none;
}

#chiudi:hover span:after {
  opacity: 1;
  right: 0;
}

#form {
  border-radius: 5px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
}
#text_form {
  font-family: "RobotoMedium";
  padding-left: auto;
  margin-bottom: 1px !important;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  font-size: 19px;
}

.swal2-modal .swal2-styled {
  
  font-family: 'RobotoBold'  !important;
  border-radius: 30px !important;
}
a.aggiungiIndirizzo {
  margin-left: auto;
  margin-right: 2%;
  color: gray;
  font-family: 'RobotoBold';
  padding-bottom: 15%;
}