
p#noOrders {
  text-align: center;
}
.tot {
  margin-left: auto;
  margin-right: 2%;
}
.swal2-modal .swal2-styled {
  font-family: 'RobotoBold'  !important;
  border-radius: 30px !important;
}
/* usato soltanto in gestoreConsegne*/
.headerSection {
  background: white;
}/**/

#aggiungi:focus {
	background: gray;
	outline: 0;
  }
img#img_popup {
  width: 100px;
  margin-left: auto !important;
  margin-right: auto !important;
}
#aggiungi {
    background-color: black;
    border: none;
    color: white;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    font-family: 'RobotoBold';
    text-align: center;
    display: block;
    width: 127px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20%;
}

#aggiungi span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
#aggiungi span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#aggiungi:focus, input:focus{
  outline: none;
}
#aggiungi:hover span {
  padding-right: 25px;
}

#aggiungi:hover span:after {
  opacity: 1;
  right: 0;
}#aggiungi:focus {
	background: gray;
	outline: 0;
  }

#chiudi {
    background-color: #d47777;   
    border: none;
    color: white;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    font-family: 'RobotoBold';
    text-align: center;
    display: block;
    width: 127px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    
}
.card-body:hover {
    background-color: white;
}
  
#chiudi span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
#chiudi span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#chiudi:focus, input:focus{
  outline: none;
}
#chiudi:hover span {
  padding-right: 25px;
}

#chiudi:hover span:after {
  opacity: 1;
  right: 0;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 2% !important;
  width: 82%;
  margin: auto;
}
.card-header{
  display: flex;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    background-color: #0000003b;
    color: black;
    font-family: 'RobotoMedium';
}

#divOrdini{
    margin-top: 100px;
}

h2#description{
    margin-left: 13px;
    margin-bottom: 47px;
  
}

#buttons{
 
    display: flex;
    flex-direction: column;
    margin-left: auto;

}
.card-body {
    display: flex;
    flex-direction: row ;
    
}

p#data{
  margin-left: auto;
}

div.circleGreen{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #162f16;
  background-color: #4caf50;
  margin-top: auto;
  margin-bottom: 23px;
  margin-left: 1%;
  background: green;
  opacity: 0.60;

}

div.circleRed{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #2b0000;
  background-color: #b61515;
  margin-top: auto;
  margin-bottom: 23px;
  margin-left: 1%;
  background: rgb(255, 8, 8);
  opacity: 0.60;

}

div#div_img {
  margin-right: 13px !important;
  margin-left: 22px !important;
  margin-right: auto;
  margin: auto;
}

div#div_prodotto {
  margin:auto;
}

h5#nominativi_indirizzi {
  margin-left: 6px;
  color: grey;
}

h5#nom {
  color: grey;
  font-family: 'RobotoMedium';
  font-size: 16px;
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
}

h5#nominativi {
  color: black;
}

#blocco {
  display: flex;
  flex-direction: row;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  }
  
  
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  border-radius: 18px;
}
  
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cl{
  color: red;
}
.modal-body {
  position: relative;
  padding: 1rem;
  text-align: center;
}

#close {
  background-color: black;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 17px;
  border-radius: 20px;
  font-family: 'RobotoBold';
  display: block;
  width: 127px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 0;
}

#div_popup{
  display: flex;
  box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%), 0 0px 5px 0 #98878057;
  margin-bottom: 3%;
  padding: inherit;
}
.modal-backdrop {
    position: unset  !important;
}
.close:hover,.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 650px) {
  .card-body {
    display: flex;
    flex-direction: column;
  }
  .card{
    height: 300px;
  }
  #buttons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  #dati {
    margin-top: 12% !important;
    margin: auto;
  }
}

@media (max-width: 400px) {
  #div_popup{
    height: 120px;
    width: 111%;
    padding: 0;
  }

  img#img_popup {
    width: 67px;
    margin-left: 0!important;
  }

  .card-header{
    font-size: small  !important;
  }

  h5#nominativi {
    font-size: 100%;
    text-align: left;
    margin-right: 0px !important;
    width: 81%;
  }
  h5#nominativi_indirizzi {
    margin-left: 6px;
    color: grey;
    font-size: 100%;
    text-align: center;
    width: 100%;
  }
  p#data {
    margin-left: auto;
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }

  .card{
    height: 20%;
  }

  #buttons {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  #dati {
    margin-top: 12% !important;
    margin: auto;
  }

  #aggiungi{
    margin-bottom: 2%;
  }

  h5#tot {
    text-align: end;
    color: green;
    margin: auto;
  }
  .modal-content {
    padding: 2px;
    padding-right: 31px;
  }

}