@font-face {
  font-family: "GothamBold";
  src: url("/font/Gotham-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GothamMedium";
  src: url("/font/GothamMedium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamLight";
  src: url("/font/Gotham-Light.otf");
  font-weight: normal;
  font-style: normal;
}


input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid #987777;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px #faf0e5 inset;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:checked:before {
  background: #ffc107;
}

input[type='radio']:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  margin: 3px;
  border-radius: 20px;
}

#container{
  display: flex;
  flex-direction: row;
}
.headerSection {
  background: linear-gradient(45deg, #EECFBA, #ffc10708);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#total-price{
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  width: 100%;
  font-family: "RobotoBold";

}
#div_form_in {
  display: flex;
  flex-direction: column;
  width: 89%;
  font-family: "RobotoBold";
  margin-top: 24%;
  margin-bottom: 100px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;
}
#quantita{
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'RobotoMedium';
}
h5#totale {
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 39px;
}
h6#totale {
  font-size: 30px;
  margin-top: 4%;
  color: green;
}

.ordered-products {
  font-size: 15px;
  color: gray;
  margin-top: 20px;
  font-size: 20px;

 
}

.ordered-products p {
  margin-top: 3px;
  font-family: 'RobotoMedium';

}

p {
  font-family: "RobotoBold";
}

h1 {
  font-family: "RobotoBold";
}

h2 {
  font-family: "RobotoBold";
}

h3 {
  font-family: "RobotoBold";
}

h5 {
  font-family: "RobotoBold";
}

button {
  font-family: "RobotoBold";
}


/* header */
.headerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 122%;
}
.headerSection h1 {
  
  margin-left: 45px;
}
.headerSection h5 {
  margin-left: 45px;
  margin-top: 15px;
}
h5#nominativi_indirizzi {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 125%;
  margin-left: 20px;
  text-align: left;

}

.divIndirizzi {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardInfo {
  display: flex;
  flex-direction: row;
  margin-left: 55px;
  margin-right: 40px;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 10px 40px #dedede;
  height: 70px;
  background-color: white;
}

#radiobtn {
  margin-left: 20px;
  margin-top: 25px;
}

.aggiungiIndirizzo {
  color: #626262;
  font-family: 'RobotoMedium';
  text-align: end;
  margin-right: 50px;
}
.aggiungiIndirizzo:visited {
  color: #626262;
}
.confirm {
  position: relative;
  margin-top: 3%;
  margin-bottom: 3%;

}
#confirm_button {
}
/*responsive*/
@media (max-width: 600px) {
  .cardsSection {
    flex-direction: column;
    justify-content: center;
  }
  .card-img-top {
    width: 150px;
    height: 150px;
    margin: auto;
  }
  .input-group {
    flex-direction: column;
    margin-top: 0;
  }
  .idbar {
    width: 70%;
    margin: auto;
  }
  #buttonsearch {
    width: 20%;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    font-size: 85%;
  }
  .firstDescr {
    font-size: 30px;
  }
  .secondDescr {
    font-size: 25px;
  }

  .delivery-promo-description {
    width: 100%;
  }

  .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .col-sm-3 {
    margin-top: 20px;
  }
}
#aggiungi {
  background-color: black;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 17px;
  border-radius: 20px;
  font-family: 'RobotoBold';
  text-align: center;
  display: block;
  width: 49%;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}
#aggiungi:focus {
	background: gray;
	outline: 0;
  }
  
#aggiungi span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
#aggiungi span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#aggiungi:focus, input:focus{
  outline: none;
}
#aggiungi:hover span {
  padding-right: 25px;
}

#aggiungi:hover span:after {
  opacity: 1;
  right: 0;
}
#chiudi {
  background-color: #f7d002;
  border: none;
  color: black;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  font-family: 'RobotoBold';
  text-align: center;
  display: block;
  
  width: 40%;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
}
  
#chiudi span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#chiudi:focus, input:focus{
  outline: none;
}

#chiudi span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#chiudi:hover span {
  padding-right: 25px;
  outline: none;
}

#chiudi:hover span:after {
  opacity: 1;
  right: 0;
}

#form {
  border-radius: 5px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
}
#text_form {
  font-family: "RobotoMedium";
  padding-left: auto;
  margin-bottom: 1px !important;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  font-size: 19px;
}
a.aggiungiIndirizzo {
  margin-left: auto;
  margin-right: 2%;
  color: gray;
  font-family: 'RobotoBold';
  padding-bottom: 3%;
}
hr.dashed {
  border-top: 1px solid #bbb;
  width: 90%;
 
}
/*mobile*/
@media (max-width: 600px) {
  .footer-row {
    flex-direction: column  !important;
    align-items: center  !important;
  }
}
@media (max-width: 500px) {
  .headerSection h5 {
    font-size: 90%;
    margin-left: 20px;
    margin-top: 15px;
  }
  h5#nominativi_indirizzi {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 106%;
    margin-left: 19px;
  }
  #container{
    display: flex;
    flex-direction: column;
  }
  h5#totale {
    font-size: 39px !important;
  }

}
@media (max-width: 1000px) {

  #container{
    display: flex;
    flex-direction: column;
  }
  .footer-row {
    flex-direction: row;
    align-items: center;
  }

  .col-sm-3 {
    margin-top: 20px;
  }
  .headerSection {
    background: linear-gradient(
45deg
, #EECFBA, #ffc10708);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
h5#totale {
  font-size: 59px;
  margin-top: 34px;
}
#div_form_in {
    margin-top: 0px;
    width: 82%;
    max-width: 90%;
}


}
