@font-face {
  font-family: "GothamBold";
  src: url("/font/Gotham-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GothamMedium";
  src: url("/font/GothamMedium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamLight";
  src: url("/font/Gotham-Light.otf");
  font-weight: normal;
  font-style: normal;
}
#container{
  display: flex;
  flex-direction: row;
}
.headerSection {
  background: linear-gradient(45deg, #EECFBA, #ffc10708);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#total-price{
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  width: 100%;
  font-family: "RobotoBold";

}
#div_form_in {
  display: flex;
  flex-direction: column;
  width: 67%;
  font-family: "RobotoBold";
  margin-top: 24%;
  margin-bottom: 100px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  text-align: center;
  margin-right: 100px;
}

.ordered-products {
  font-size: 15px;
  color: gray;
  margin-top: 20px;
}

.ordered-products p {
  margin-top: 3px;
}

p {
  font-family: "RobotoBold";
}

h1 {
  font-family: "RobotoBold";
}

h2 {
  font-family: "RobotoBold";
}

h3 {
  font-family: "RobotoBold";
}

h5 {
  font-family: "RobotoBold";
}

button {
  font-family: "RobotoBold";
}


/* header */
.headerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 122%;
}
.headerSection h1 {
  margin-top: 50px;
  margin-left: 45px;
}
.headerSection h5 {
  margin-left: 45px;
  margin-top: 15px;
}
h5#nominativi_indirizzi {
    margin-left: auto;
    margin-right: auto;
}
.divIndirizzi {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardInfo {
  display: flex;
  flex-direction: row;
  margin-left: 55px;
  margin-right: 40px;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 10px 40px #dedede;
  height: 70px;
  background-color: white;
}

#radiobtn {
  margin-left: 20px;
  margin-top: 20px;
}

.aggiungiIndirizzo {
  color: #626262;
  font-family: 'RobotoMedium';
  text-align: end;
  margin-right: 50px;
}
.aggiungiIndirizzo:visited {
  color: #626262;
}
.confirm {
  position: relative;
  margin-top: 3%;

}
#confirm_button {
}
/*responsive*/
@media (max-width: 600px) {
  .cardsSection {
    flex-direction: column;
    justify-content: center;
  }
  .card-img-top {
    width: 150px;
    height: 150px;
    margin: auto;
  }
  .input-group {
    flex-direction: column;
    margin-top: 0;
  }
  .idbar {
    width: 70%;
    margin: auto;
  }
  #buttonsearch {
    width: 20%;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    font-size: 85%;
  }
  .firstDescr {
    font-size: 30px;
  }
  .secondDescr {
    font-size: 25px;
  }

  .delivery-promo-description {
    width: 100%;
  }

  .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .col-sm-3 {
    margin-top: 20px;
  }
}
/*mobile*/
@media (max-width: 400px) {
  .headerSection h5 {
    font-size: 90%;
    margin-left: 20px;
    margin-top: 15px;
  }
}
@media (max-width: 600px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .col-sm-3 {
    margin-top: 20px;
  }
}
