body {
  padding-top: 150px;
}

/* Contact */
.contact-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-title {
  font-size: 55px;
  text-align: center;
}

.support-illustration {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.contact-box {
  width: 65%;
  height: 310px;
  -webkit-box-shadow: 0px 0px 52px -5px rgba(230, 230, 230, 0.66);
  -moz-box-shadow: 0px 0px 52px -5px rgba(230, 230, 230, 0.66);
  box-shadow: 0px 0px 52px -5px rgba(230, 230, 230, 0.66);
  margin: 50px auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 30px;
}

.contact-category-title {
  font-family: "RobotoBold";
  font-size: 20px;
}

.contact-category-description {
  font-family: "RobotoMedium";
  color: gray;
  font-size: 16px;
}

.mail-link {
  font-family: "RobotoBold";
  text-decoration: none;
  color: #f7d002;
  font-size: 16px;
}

.mail-link:hover {
  text-decoration: none;
  color: #222725;
}
