body {
  padding-top: 150px;
}

.admin-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-btn,
.remove-btn {
  font-family: "RobotoBold";
  background-color: #222725;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 150px;
}

.add-btn:hover,
.remove-btn:hover {
  background-color: #777777;
}

.modal {
  font-family: "RobotoMedium";
  border-radius: 15px;
}

.modal-content {
  border-radius: 20px;
}

.close:focus {
  outline: none;
}

#mySelect_add,
#mySelect_remove {
  background-color: #ccc;
  border: none;
  border-radius: 20px;
  width: 100px;
  height: 30px;
}

#mySelect_add:focus,
#mySelect_remove:focus {
  outline: none;
}

.modal input {
  background-color: #f5f5f5;
  border: none;
  height: 35px;
  width: 300px;
  font-family: "RobotoRegular";
  border-radius: 20px;
}

.modal input:focus {
  outline: none;
}

.modal label {
  margin-top: 10px;
}

#aggiungi_ingr {
  font-family: "RobotoBold";
  background-color: #222725;
  border: none;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 20px;
}

#btn_add,
#btn_remove {
  background-color: #222725;
  border: none;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  font-family: "RobotoBold";
}

#btn_clear_add,
#button_clear_remove {
  background-color: gray;
  border: none;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  font-family: "RobotoBold";
}
