@charset "ISO-8859-1";

.modifica{
	border: none;
 	background-color: #e8505b !important;
 	color: #f3ecc2 !important;
  	padding: 15px 32px;
  	text-align: center;
  	font-size: 16px;
 	margin: 4px 2px;
  	cursor: pointer;
}

.rimuovi{
	border: none;
 	background-color: #e8505b !important;
 	color: #f3ecc2 !important;
  	padding: 15px 32px;
  	text-align: center;
  	font-size: 10px;
 	margin: 4px 2px;
  	cursor: pointer;
}

.content-page{
	/*display : flex;
	flex-direction : row;
	justify-content : flex-start;
	background-color : red;
	width: 100%;
  	height: 650px;*/
  	
	display: flex;
  	
  	
  	width: 100%;
  	height: 650px;
}

.menu{
	list-style-type:none;
	float : left;
}

.container-menu{
	margin-top : 300px;
	margin-right : 30px;
	
}

.principale{
	margin-top : 15%;
	margin-left : 10%;
	display : flex;
	flex-direction : column;
	justify-content : center;	
}

.resoconto-indirizzi{
	list-style-type: none;
}

.page-form{
	max-width : 30%;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	width: 100%;
  	height: 650px;
  	margin-left : 35%;
}

.conteiner-form{
	margin : 100px;
	height : 500px;
	
}

a{
	color:black;
}



@media(max-width : 600px){

.content-page{
	flex-direction : column;
}
.menu li{
	display : inline ;
	margin-right : 20px;	
}

.menu{
	align-items : center;
}
}
