@font-face {
  font-family: "RobotoBold";
  src: url("/font/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("/font/Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("/font/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: "RobotoMedium";
}

h1 {
  font-size: 55px;
  font-family: "RobotoBold";
}

h2 {
  font-family: "RobotoBold";
}

h3 {
  font-family: "RobotoBold";
}

h5 {
  font-family: "RobotoBold";
}

button {
  font-family: "GothamBold";
}

/* NavBar */

.NavBar {
  background-color: #f7d002 !important;
  height: 80px;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  color: #222725 !important;
}

.NavBar-Title {
  font-family: "RobotoBold" !important;
  margin: auto;
  margin-left: 10px;
}

.navbar-nav a {
  font-family: "RobotoBold";
  color: #222725 !important;
  margin-right: 25px;
}

.dropdown-menu {
  background-color: #222725;
}

.dropdown-menu a {
  color: white !important;
}

.dropdown-item:hover {
  background-color: #777777;
}

.cart-link {
  display: flex;
  flex-direction: row;
}

.cart-icon:hover {
  color: #777777;
}

.badge {
  margin: auto 10px !important;
}

.nav-link {
  font-family: "RobotoMedium";
  font-size: 20px;
}

.nav-link.active {
  color: #222725 !important;
}

.nav-link:hover {
  color: #777777 !important;
}

.loginBtn {
  font-family: "RobotoBold";
  background-color: #222725;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
}

.loginBtn:hover {
  background-color: #777777;
}

.account-link {
  display: inline-block;
}

.account-link i {
  vertical-align: middle;
}

/* ******* */

/* Header */

.headerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f7d002;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
}

.header-illustration {
  width: 70%;
  margin: auto;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.input-group-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.idbar {
  font-family: "RobotoMedium";
  font-size: 30px;
  text-align: center;
  border-radius: 50px;
  height: 90px;
  width: 60%;
  border-width: 0px;
}

.idbar-nav {
  font-family: "RobotoMedium";
  font-size: 20px;
  text-align: center;
  border-radius: 40px;
  height: 50px;
  min-width: 600px;
  border-width: 0px;
}

.idbar:focus,
.idbar-nav:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 81px -13px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 0px 81px -13px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 0px 81px -13px rgba(0, 0, 0, 0.41);
}

#buttonsearch {
  background-color: #222725;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50px;
  margin-left: 20px;
  height: 90px;
  width: 90px;
}

#buttonsearch-nav {
  background-color: #222725;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 10px;
  border-radius: 50px;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

#buttonsearch:hover,
#buttonsearch-nav:hover {
  background-color: #777777;
}

.headerDescrizioni {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.firstDescr {
  font-family: "RobotoBold";
  font-size: 70px;
  color: #222725;
  margin-top: 80px;
  text-align: center;
}

.secondDescr {
  font-family: "RobotoMedium";
  font-size: 35px;
  color: white;
  text-align: center;
  margin-top: 15px;
}

.row {
  width: 100%;
  margin: 0;
}

.col-lg-6 {
  padding: 0;
}

.cardpanino {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #222725;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-body:hover {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.card-title {
  font-family: "RobotoBold";
  font-size: 70px;
  color: #222725;
  background-color: white;
  width: 50%;
  margin: 10px auto;
}

.card-description {
  font-family: "RobotoMedium";
  color: white;
  font-size: 25px;
  width: 60%;
  margin: 10px auto;
}

#menu-text {
  text-align: center;
}
#bibite-text {
  text-align: center;
}
#panini-text {
  text-align: center;
}

/* Delivery Promo */
.delivery-promo {
  display: block;
  background-color: #222725;
  padding: 160px;
}

.delivery-promo-title {
  font-family: "RobotoBold";
  font-size: 70px;
  color: white;
}

.delivery-promo-description {
  font-family: "RobotoMedium";
  font-size: 28px;
  color: gray;
  width: 90%;
  margin: 0;
}

/* Footer */
.footer-separator {
  margin-bottom: 50px;
}

footer {
  padding-top: 80px;
}

.footer-title {
  font-family: "RobotoBold";
  color: #f7d002;
  margin-top: 10px;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.footer-link-title {
  font-family: "RobotoBold";
  color: black;
}

.footer-link-item {
  text-decoration: none !important;
  font-family: "RobotoMedium";
  color: gray;
}

.footer-link-item:hover {
  color: #f7d002;
}

.copyright-section {
  margin-top: 40px;
  text-align: center;
}

.copyright-paragraph {
  color: gray;
  font-size: 13px;
}

.copyright-link {
  text-decoration: none !important;
  color: #f7d002;
  font-family: "RobotoBold";
}

.copyright-link:hover {
  color: #5f5f5f;
}
/*responsive*/
@media (max-width: 600px) {
  .cardsSection {
    flex-direction: column;
    justify-content: center;
  }
  .card-img-top {
    width: 150px;
    height: 150px;
    margin: auto;
  }
  .input-group {
    flex-direction: column;
    margin-top: 0;
  }
  .idbar {
    width: 70%;
    margin: auto;
  }
  #buttonsearch {
    width: 20%;
    margin: auto;
    margin-top: 10px;
    /* padding: 5px;*/
    font-size: 85%;
  }
  .firstDescr {
    font-size: 30px;
  }
  .secondDescr {
    font-size: 25px;
  }

  .delivery-promo-description {
    width: 100%;
  }

  .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .col-sm-3 {
    margin-top: 20px;
  }
}
