/* header */
#img_scc {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.ordine {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 163px;
  box-shadow: 0px 0px 52px -5px #08080830;
  width: 90%;
  border-radius: 16px;
  height: 680px !important;
}
.img-success {
  margin-top: 30px !important;
  width: 200px;
  height: 200px;
  margin-left: 40%;
}
.text_success {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  text-align: center;
  font-family: "RobotoMedium";
}
.button_support {
  padding: 0;
  border-style: none;
  background: none;
  margin-top: 37px;
  margin-right: 5px;
  outline: none;
}
.button_support :hover {
  background-color: #f7d00226;
  border-radius: 10px;
}
#fine_button {
  height: 50px;
  width: 100px;
  margin-top: 39px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "RobotoBold";
}
.image_support {
  width: 53px;
  height: 53px;
}
.buttons {
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
  padding-bottom: 300px;
  margin-right: auto;
}

.id_ordine {
  display: flex;
  justify-content: center;
  background-color: #80808047;
  object-fit: contain;
  height: 100px;
}
.id_ordine h1 {
  color: #e8505bc4;
  text-align: center;
  margin-top: 20px;
  font-family: "RobotoMedium";
}

@font-face {
  font-family: "GothamBold";
  src: url("/font/Gotham-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GothamBold";
  src: url("/font/Gotham-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GothamMedium";
  src: url("/font/GothamMedium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamLight";
  src: url("/font/Gotham-Light.otf");
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: "GothamMedium";
}

h1 {
  font-family: "GothamBold";
}

h2 {
  font-family: "GothamBold";
}

h3 {
  font-family: "GothamBold";
}

h5 {
  font-family: "GothamBold";
}

button {
  font-family: "GothamBold";
}
